@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400i,700');
*{
    font-family: 'Roboto Mono', monospace;
}
html {
    background-image: linear-gradient(lightBlue, pink);
    min-height: 100%;
}

.intro{
    text-align: center;
    margin-bottom: 70px;
}

h2 {
    font-size: 20px;
}
h3 {
    font-size: 30px;
    text-decoration: underline;
}

.results{
    text-align: center;
    margin-top: 50px;
}

.user-name input[type=text]{
    width: auto;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 3px solid black;
    width: 40vw;
    font-size: 40px;
    text-align: center;
}

.user-name input[type=submit]{
    border: 3px solid black;
    background-color: pink;
    width: 100px;
    height: 40px;
}

img {
    width: 200px;
    display: inline-block;
}

.drink-mix {
    display: inline-block;
    vertical-align: top;
}
.enter-name{
    width: 100%;
    text-align: center;
}

ul {
    text-align: left;
    font-size: 20px;
}

.links{
    position: absolute;
    top: 0;
    right: 10px;
}
a {
    display: inline-block;
}

.fb-share-button {
    margin: auto;
    text-align: center;
}

@media screen and (orientation: portrait) and (min-width: 600px) {
    img{
        width: 500px;
        margin-top: 100px;
        display: block;
        text-align: center;
        margin: auto;
    }   
    .user-name input[type=submit]{
        width: 80vw;
        height: 100px;
        font-size: 40px;
    }
     .user-name input[type=text]{
        width: 80vw;
        height: 100px;
        font-size: 80px;
        margin-bottom: 50px; 
    }
    h1 {
        font-size: 60px;
    }

   .results{
    font-size: 50px;
   }

   .links {
    display: block;
    position: relative;
    font-size: 40px;
    text-align: center;
   }

   a {
    display: inline-block;
   }

   li{
    font-size: 40px;
   }

   h3 {
    font-size: 60px;
   }

}