<!doctype html>
<html>
<head>
    <meta property="og:url" content="http://www.whatsyourcocktail.com" />
    <meta property="og:type" content="quiz" />
    <meta property="og:title" content="What's your cocktail" />
<meta property="og:description" content="Generate a cocktail from your name" />
<meta property="og:image" content="http://www.whatsyourcocktail.com/static/imgs/drink.png" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" 
      type="image/png" 
      href="http://www.whatsyourcocktail.com/static/imgs/snake.png">
    <title>What's your cocktail</title>
</head>
<body>

    {% block content %}

    this is where stuff goes

    {% endblock %}

</body>
</html>