<!doctype html>
<html>
<head>
    <meta property="og:url" content="http://www.whatsyourcocktail.com" />
    <meta property="og:type" content="quiz" />
    <meta property="og:title" content="Drink Generator" />
<meta property="og:description" content="Generate a cocktail from your name" />
<meta property="og:image" content="/static/imgs/dring.svg" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Drink Generator</title>
</head>
<body>

    {% block content %}

    this is where stuff goes

    {% endblock %}

</body>
</html>